<h1><%= @student.name %></h1>
<h3>Mod: <%= @student.mod %></h3>
<h4>Rubber Duckys Owned:</h4>
<ul>
    <% @student.ducks.each do |duck| %>
    <li><%= link_to duck.name, duck_path(duck) %></li>
    <% end %>
</ul>